.skill-bars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.skill1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.skill2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 50px;
}
.skill3 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skill-label {
    width: 150px; 
    font-size: 16px;
    text-align: right;
    
}

.skill-bar1 {
    width: 50px; /* Adjust as needed */
    height: 30px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.skill-bar2 {
    width: 70px; 
    margin-left: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.skill-bar3 {
    width: 100px; /* Adjust as needed */
    height: 30px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.photoshop {
    background: #C2B280; /* Light grey */
}

.brand {
    background: #ff9900; /* Orange */
}

.mobile {
    background: #ff4500; /* Red-Orange */
}

.skill-ball1 {
    width: 35px; 
    height: 35px;  
    background: radial-gradient(circle at 30% 30%, lightgray,#C2B280);
    border-radius: 50%;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.5),
                inset 5px 5px 10px rgba(0, 0, 0, 0.2),
                0 0 10px rgba(0, 0, 0, 0.5);
                position: absolute;
                right: 20px;
    
}
.skill-ball2 {
    width: 35px; 
    height: 35px;  
    background: radial-gradient(circle at 30% 30%, #ffa500, #ff4500);
    border-radius: 50%;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.5),
                inset 5px 5px 10px rgba(0, 0, 0, 0.2),
                0 0 10px rgba(0, 0, 0, 0.5);
                position: absolute;
                right: 50px;
    
}
.skill-ball3 {
    width: 35px; 
    height: 35px;  
    background: radial-gradient(circle at 30% 30%, red, Orange);
    border-radius: 50%;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.5),
                inset 5px 5px 10px rgba(0, 0, 0, 0.2),
                0 0 10px rgba(0, 0, 0, 0.5);
                position: absolute;
    
}
