
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: Outfit;
  margin: 0; /* Remove default margin for better control */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  color: #fff;
}

.navbar-logo a {
  color: black;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  /* Added flex-wrap for smaller screens */
  flex-wrap: wrap;
}

.navbar-list li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  /* Reduced margin for better spacing on smaller screens */
  margin: 10px;
}

.navbar-button button {
  padding:15px 20px ;
  border: none;
  background-color: rgb(106, 90, 205);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50px;
  font-family: Outfit;
}

.navbar-button button:hover {
  background-color: rgb(123, 104, 238);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .navbar-logo a {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  .navbar-list li a {
    font-size: 0.8rem; /* Adjust font size for smaller screens */
  }

  .navbar-button button {
    /* Adjust button size and padding for smaller screens */
    padding: 0.3rem 0.8rem;
  }
}